.btn {
  background-color: #ffce1a;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  color: #ffffff;
  border: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}
