.loading {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px dashed #898574fa;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scale (5);
  }
  to {
    transform: rotate(30deg) scale(1);
  }
}
